body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 120px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
}

@media  screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
}

/* ===============================================================================================

==============================Header=========================================================== */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list {
    display: none;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: center;
    padding: 17px 0;
}

.studio-logo {
    color: #2e2f42;
}

.address {
   display: none;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 768px) {
    .header-list {
        display: flex;
        gap: 40px;
    }
    .open-menu-btn {
        display: none;
    }
    .header-list {
        display: flex;
        gap: 40px;
    }
    .header-logo {
        margin-right: 120px;
    }
    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-link:hover,
    .header-link:focus,
    .header-link:active {
        color: #404bbf;
    }
    
    .current {
        position: relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
        .current::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            background-color: #404BBF;
            border-radius: 2px;
            height: 4px;
            width: 100%;
        }
        .address {
            font-style: normal;
            display: flex;
            align-items: center;
            width: auto;
        }
        .address-text {
            color: #434455;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .address-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
}

@media screen and (min-width: 1158px) {
.header-logo {
     margin-right: 76px;
 }

 .address-text {
    font-size: 16px;
 }


.address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.address-item {
    font-style: 16px;
    line-height: 1.5;
}
}

/* ========================================================================================================================

===========================Studio======================================================================================= */

.studio {
    max-width: 320px;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1x-mob.jpg);
    padding: 72px 0;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (min-device-pixel-ratio: 2),
                  (min-resolution: 192dpi),
                  (min-resolution: 2dppx) {
    .studio {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-people2x-mob.jpg);
    }
       
}

@media screen and (min-width: 768px) {
    .studio {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1x-tab.jpg);
    }
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .studio {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office2x-tab.jpg);
            }
        }
}



@media screen and (min-width: 1158px) {
    .studio {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1x.jpg);
    }
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .studio {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office2x.jpg);
            }
        }
}




.studio-title {
    display: block;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-transform: capitalize;
    max-width: 216px;
    margin: 0 auto 36px;
}


@media  screen and (min-width: 768px) {
    .studio-title {
        font-size: 56px;
        max-width: 513px;
    }
}

.studio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-button:hover,
.studio-button:active,
.studio-button:focus {
    background: #404bbf;
}


    /* ======================================================================================

    =============================hidden=================================================== */


.hidden {
    padding: 96px 0px;
}

@media screen and (min-width: 768px) {
    .hidden {
         padding: 120px 0px;
     }
}

.hidden-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .hidden-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

.hidden-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hidden-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .hidden-item {
       width: calc((100% - 72px) / 4);
    }
}

.icon-hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

@media screen and (max-width: 1157px) {
    .icon-hidden {
        display: none;
    }
}

.icons-svg {
    background-image: url(../);
}


.hidden-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hidden-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .hidden-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.hidden-subtitle-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 1158px) {
    .hidden-subtitle-text {
        font-weight: 400;
    }
}

/* =========================================================

========Our Team========================================= */

.ourteam {
    background: #f4f4fd;
    padding: 96px 0;
}

@media screen and (min-width: 768px) {
    .ourteam {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .ourteam {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.ourteam .container {
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .ourteam .container {
        display: flex;
        justify-content: center;
    }
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}

.subtitleandtext {
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.ourteam-item {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-link {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    max-width: 264px;
}

@media screen and (min-width: 768px) {
    .ourteam-list {
        max-width: calc((264px* 2) + 24px);
    }
}

@media screen and (min-width: 1158px) {
    .ourteam-list {
       flex-wrap: nowrap;
       max-width: 100%;
    }
}



.ourteam-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ourteam-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icon {
    fill: #f4f4fd;
}

.ourteam-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.alink {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alink:hover,
.alink:focus {
    background-color: #404bbf;
}


/* ===================================================

===============Portfolio=========================== */

.portfolio {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .portfolio {
            padding: 120px 0;
        }
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.card {
    position: relative;
    overflow: hidden;
}

.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }
    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

.subtitletext {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.new-information {
    position: absolute;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.portfolio-item:hover .new-information {
    transform: translateY(0%);
}

.portfolio-list {
    display: flex;
    justify-content: center;
    row-gap: 48px;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        column-gap: 24px;
    }
}


.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* =====================================================

=============Footer================================== */

.footter {
    background: #2e2f42;
    padding: 96px 0
}

@media screen and (min-width: 1158px) {
    .footter {
        padding: 100px 0;
    }
}


@media screen and (min-width: 768px) {
    .footter-container {
        display: flex;
        max-width: 584px;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
    }

}

@media screen and (min-width: 1158px) {
    .footter-container {
        max-width: 1158px;
        gap: inherit;
    }

}


.footter-logo {
    display: flex;
    justify-content: center;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;

}

@media screen and (min-width: 768px) {
    .footter-logo {
        display: inline-block;
    }

}



.footter-span {
    color: #f4f4fd;
}

.footter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .footter-text {
        max-width: 264px;
    }

}


.footter-ap {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footter-ap {
      margin-bottom: 0;  
    }
}

@media screen and (min-width: 1158px) {
    .footter-ap {
       margin-right: 120px;
    }
}



.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icons {
    fill: #f4f4fd;
}


.footter-link {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footter-href {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






.footter-href:hover,
.footter-href:focus {
    background-color: #31d0aa;
}

.footter-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footter-end {
        align-items: start;
        width: auto;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footter-end {
      margin-right: 80px;
    }
}

.footter-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footter-subscribe {
        align-items: normal;
    }
}

@media screen and (min-width: 1158px) {
    .footter-subscribe {
        width: auto;
        justify-content: flex-start;
    }
}



.footter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .footter-form {
        gap: 24px;
    }
}

.footter-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footter-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
   .footter-input {
    width: 264px;
   }
    
}

.footter-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footter-form-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    max-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footter-form-btn:hover,
.footter-form-btn:focus {
    background-color: #31d0aa;
}

.footter-soc-icon {
    fill: #fff;
    margin-left: 16px;
}

/* ==========================================================================================================

==================Modal=================================================================================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    
}

.modal-close-btn {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-close-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.backdrop-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 256px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .backdrop-text {
        max-width: 360px;
    }

}

.modal-form {
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .modal-form {
        max-width: 360px;
    }

}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
    position: relative;
}

.modal-x {
    margin-bottom: 8px;
}

.modal-text {
    width: 100%;
    height: 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.footter-textarea {
    margin-bottom: 16px;
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}



.span-check-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text .span-check-icon {
    background-color: #404bbf;
    ;
    border: none;
    fill: #f4f4fd;
}



.check-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-field {
    margin-bottom: 24px;
}

.footter-button {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footter-button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* =============================================================================

===========================Mob Menu========================================== */

.mob-menu-ref {
    display: flex;
    padding: 16px 0;
}

.backdrop-mob.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.backdrop-mob {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu {
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    padding: 72px 16px 40px;
    top: 0;
    left: calc(50% - 160px);
    min-width: 320px;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
}

.mob-close-btn:hover,
.mob-close-btn:focus,
.mob-close-btn:active {
    background-color: #404BBF;
}

.mob-close-btn:hover .close-btn-icon,
.mob-close-btn:focus .close-btn-icon,
.mob-close-btn:active .close-btn-icon {
    fill: #FFFFFF;
}

.mob-menu-on {
    display: flex;
    color: #404BBF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.008em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mob-menu-off {
    display: flex;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.008em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-contacts-mail {
    color: #434455;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.016em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-contacts-tel {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.016em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #4d5ae5;
}


.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address {
    margin-bottom: 48px;
}

.mob-icons-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footter-link-mob {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footter-link-mob:hover,
.footter-link-mob:focus {
    background-color: #31d0aa;
}

.footter-svg {
    fill: #f4f4fd;
}

.footter-icons-item {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
